@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('AvenirNextCyr-HeavyItalic.eot');
    src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
        url('AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-HeavyItalic.woff2') format('woff2'),
        url('AvenirNextCyr-HeavyItalic.woff') format('woff'),
        url('AvenirNextCyr-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir Next Cyr - normal';
    src: url('AvenirNextCyr-Heavy.eot');
    src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
        url('AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-Heavy.woff2') format('woff2'),
        url('AvenirNextCyr-Heavy.woff') format('woff'),
        url('AvenirNextCyr-Heavy.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr - it';
    src: url('AvenirNextCyr-MediumItalic.eot');
    src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
        url('AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AvenirNextCyr-MediumItalic.woff2') format('woff2'),
        url('AvenirNextCyr-MediumItalic.woff') format('woff'),
        url('AvenirNextCyr-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
.all{
    display: flex;
}
.left-Rect{
    border: 1px solid;
    margin: 37px 0 47px 41px;
}
.right-info{
    border: 1px solid;
}
.me{
    margin: 62px 700px 0px 60px;
    border: 1px solid; 
    padding: 0px 0px 100px 0;
}
.profession{
    color: rgba(133, 133, 139, 0.5);
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.name{
    font-size: 70px;
    margin: 0;
    padding: 0;
}
.about{
    font-family: 'Avenir Next Cyr',sans-serif;
    font-size: 22px;
    max-width: 1250px;
    margin: 0px 70px 80px 60px;
    border: 1px solid;
}
.work{
    font-family: 'Avenir Next Cyr - it', sans-serif;
    margin: 10px 0 0px 0;
    padding: 0;
    font-size: 25px;
    font-weight: 900;
}
.spec{
    font-family: 'Avenir Next Cyr - it', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.group_experience_skills{
    box-sizing: content-box;
    max-width: 1500px;
    max-height: 800px;
    display: flex;
    border: 1px solid;
    margin: 0 70px 0 60px;
    line-height: 24.5px;
}
.group_experience{
    padding: 0 200px 0 0;    
}
.group_skill{
    box-sizing: content-box;
    padding: 0;
    margin: 0;  
    border: 1px solid;
    max-width:  420px;
    max-height: 285px;
    display: flex;
    flex-direction: column;
}
.education{
    border: 1px solid;
    max-width: 420px;
    max-height: 194px;
    margin: 0 80px 0px 0;
    padding: 41px 0 0 0;
}
.group_grey_box{
    box-sizing: content-box;
    max-width: 600px;
    max-height: 1500px;
    background-color: #F7F7F7;
}
.photo{
    margin: 50px 0px 0px 115px;
    background-color: #F7F7F7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.slogan{
    font-family: 'Avenir Next Cyr - it';
    text-align: center;
    margin: 60px 0px 0 0;
    font-size: 50px;
    color: rgba(133, 133, 139, 0.911);
}
.info{
    display: flex;
    margin: 50px 10px 0 10px;
    justify-content: space-between;
    font-size: 14px;
}
.text{
    font-family: 'Avenir Next Cyr - normal', sans-serif;
    font-size: 22px;
    font-weight: 500;
    max-width: 800px;
    line-height: 20px;
    border: 1px solid;
}
h2{
    font-family: 'Avenir Next Cyr - normal', sans-serif;
    font-size: 25px;
    font-weight: 750;
}
li{
    text-decoration: underline
}
.skill {
    font-family: 'Avenir Next Cyr - it', sans-serif;
    font-weight: 800;
}
.group_feature{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
    margin: 30px 0 0 0;
}
.feature{
    border: 1px solid;
    text-align: center;
    background-color: rgba(133, 133, 139, 1);
    color: rgba(255, 255, 255, 0.74); 
    padding: 0 20px 0 20px;
    margin: 15px 30px 10px 15px;
}
.all_contacts{
    border: 1px solid;
    text-align:center ;
    font-family: 'Avenir Next Cyr - normal', sans-serif;
    font-size: 25px;
    font-weight: 750;
    margin: 30px 0 0 0;
}
.contacts{
    border: 1px solid;
    margin: 30px 50px 0 60px;
    display: flex;
    justify-content: space-around;
}
.whatsapp{
    border-radius: 50%;
    width: 50px;
    height: 60px;
}
.picture_brands{
    border-radius: 50%;
}